@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #eee !important;
}

.fullScreenFrame>div {
    display: flex;
    justify-content: center;
}

h1 {
    font-weight: bold;
}

title {
    color: red,
}